* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    border: 1.5px solid #ccc;
    max-width: 60%;
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

form {
    width: 90%;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input {
    width: 100%;
    height: 3rem;
    padding: 0.5rem;
    border: 1.5px solid #ccc;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

input[type="submit"] {
    width: unset;
    display: block;
    padding: 1rem 4rem;
    background-color: #ff7e67;
    color: black;
    font-weight: 600;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    margin: 1rem auto;
}

input[type="radio"] {
    width: unset;
    height: auto;
    transform: scale(1.5);
    margin: 1rem;
}

.to-login {
    max-width: 60%;
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
}

.to-login a {
    text-decoration: underline;
    cursor: pointer;
}
