* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    border: 1.5px solid #ccc;
    max-width: 60%;
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

form {
    width: 90%;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input {
    width: 100%;
    height: 3rem;
    padding: 0.5rem;
    border: 1.5px solid #ccc;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

input[type="submit"] {
    width: unset;
    display: block;
    padding: 1rem 4rem;
    background-color: #ff7e67;
    color: black;
    font-weight: 600;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    margin: 1rem auto;
}

.to-register {
    max-width: 60%;
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
}

.to-register a {
    text-decoration: underline;
    cursor: pointer;
}

.masuk-google {
    width: 45%;
    border: 1.5px solid #ccc;
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-google {
    background: conic-gradient(
            from -45deg,
            #ea4335 110deg,
            #4285f4 90deg 180deg,
            #34a853 180deg 270deg,
            #fbbc05 270deg
        )
        73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    margin-right: 1rem;
}
