*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.buat-kegiatan{
    margin: 4rem 3rem;
}

.judul{
    font-size: 1.8rem;
    color: #07689F;
    font-weight: bold;
    margin-bottom: 2rem;
}

.inputBox{
    width: 100%;
    margin-bottom: 2rem;
}

.inputBox-file{
    width: 20%;
    margin-bottom: 2rem;
}

.inputBox input, .inputBox textarea, .inputBox-file input{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #707070;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 15px;
}

.inputBox textarea{
    height: 100px;
    padding-top: 1rem;
}

.inputBox-file input{
    padding-top: 12px;
}

.file{
    width: 50%;
}

button{
    width: 8rem;
    height: 2.3rem;
    background-color: #ff7e67;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    border: none;
}