*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* HEADER */
.navbar{
    background-color: #07689F;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    justify-content: left;
    position: sticky;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    height: 100px;
}



/* row-1 */
.row-1 {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    padding: 50px 50px 5px 50px;
}

.row-1 h1{
    margin-bottom: 20px;
}

#poster {
    max-width: 700px;
    height: auto;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.text-content p{
    margin-bottom: 20px;
    font-size: 1.3em;
}


h1 {
    font-size: 36px;
    text-align: right;
}

/* row-2 */
.row-2{
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 20px;
    padding: 50px;
}

.row-2 .profile{
    display: flex;
    align-items: center;
    gap: 20px;
}

.row-2 #profile{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.row-2 p{
    font-size: 1.3em;
    font-weight: 500;
    margin-top: 20px;
    text-align: justify;
}

.row-2 .images{
    padding: 50px 50px 0px 50px;
    text-align: center;
}

.row-2 img{
    width: 400px;
}

/* row-3 */
.row-3{
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 20px;
    padding: 50px;
}

.row-3 p{
    font-size: 1.2em;
    text-align: justify;
    line-height: 30px;
    font-weight: 400;
}

/* row-4 */
.row-4 {
    text-align: left;
    padding-left: 50px;
}

.volunteer-container {
    display: flex;
    justify-content: left;
    margin-top: 20px;
}

.volunteer {
    margin: 10px 20px;
    text-align: center;
}

.volunteer img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* FOOTER */
.footer{
    width: 100%;
    padding: 20px 2%;
    background: #A2D5F2;
    color: black;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.footerlogo{
    width: 350px;
}
.footer div{
    text-align: center;
}
.col-2{
    flex-grow: 2;
}
.footer div h3{
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 30px;
    letter-spacing: 1;
}
.col-3 a{
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.3em;
}
.social-icons{
    margin-top: 30px;
}
.social-icons i{
    font-size: 35px;
    margin: 0px 40px 0px 40px;
    cursor: pointer;
}
.social-icons p{
    color: black;
}
.footer .col-1,
.footer .col-2,
.footer .col-3 {
  flex: 1;
  text-align: center;
}
.footer .col-1 {
    justify-content: flex-start;
}
.footer .col-3 {
    justify-content: flex-end;
}