*{
    font-family: 'Inter', sans-serif;
}

.tagline {
    position: relative;
    width: 100%;
}

.box {
    position: relative; 
    width: 100%;
    height: 22.1rem;
}

.image {
    width: 100%; 
    height: auto;
    display: block;
}

.box::before { 
    content: "";
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.tagline-button-box, .see-more1, .see-more2 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 8rem;
    height: 2.3rem;
    background-color: #ff7e67;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    color: #000;
    text-align: center;
    z-index: 2;
    font-weight: bold;
    margin-top: 10px;
}

.tagline-text {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    z-index: 2;
}

.tagline-text1{
    font-size: 1.5rem;
    font-weight: bold;
}

.tagline-text2{
    font-size: 1.1rem;
    margin-top: 8px;
    font-weight: 500;
}

a{
    text-decoration: none;
}

.text1{
    font-size: 1.5rem;
    font-weight: bold;
}

.currently-activities, .prev-activities{
    margin: 4rem 3rem;
}

.see-more1{
    margin-top: 4rem;
    margin-left: 38rem;
}

.see-more2{
    margin-top: 18.5rem;
    margin-left: 38rem;   
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
}

.box-event {
    width: 23%;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 1rem;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
