*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* HEADER */
.navbar{
    background-color: #07689F;
    display: flex;
    align-items: center;
    padding: 15px 30px;
    justify-content: left;
    position: sticky;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    height: 100px;
}

/* BODY */

.container {
    max-width: 90%;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

form {
    width: 100%;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    border: 1.5px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
}

input[type="file"] {
    margin-bottom: 20px;
}

.choose-file-btn{
    padding: 10px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 8px;
}

input[type="submit"] {
    padding: 10px 50px;
    background-color: #FF7E67;
    color: black;
    font-weight: 600;
    font-size: 1em;
    border: none;
    cursor: pointer;
    border-radius: 8px;
}


/* FOOTER */
.footer{
    width: 100%;
    padding: 20px 2%;
    background: #A2D5F2;
    color: black;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.footerlogo{
    width: 350px;
}
.footer div{
    text-align: center;
}
.col-2{
    flex-grow: 2;
}
.footer div h3{
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 30px;
    letter-spacing: 1;
}
.col-3 a{
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 1.3em;
}
.social-icons{
    margin-top: 30px;
}
.social-icons i{
    font-size: 35px;
    margin: 0px 40px 0px 40px;
    cursor: pointer;
}
.social-icons p{
    color: black;
}
.footer .col-1,
.footer .col-2,
.footer .col-3 {
  flex: 1;
  text-align: center;
}
.footer .col-1 {
    justify-content: flex-start;
}
.footer .col-3 {
    justify-content: flex-end;
}